<h1>Funda</h1>
<% for(var i = 0; i < funda.Objects.length; i++) {%>
  <article>
    <header>
      <h1><%= funda.Objects[i].Adres %></h1>
    </header>
    <p><%= funda.Objects[i].AangebodenSindsTekst %></p>
  </article>
</a>
<% } %>
