<!DOCTYPE html>
<html lang="nl">
  <head>
    <% include head.ejs %>
  </head>
  <body>
    <% include header.ejs %>
    <% include spinner.ejs %>


      <% drivers.forEach(function(driver) { %>
        <article>
          <h2><%= driver.code %></h2>
          <p><%= driver.givenName %></p>
        </article>
      <% }) %>

  </body>
</html>
