<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/manifest.json" rel="manifest">

<link rel="stylesheet" type="text/css" href="/css/style-min.css">
<script src="/js/bundle-min.js" defer></script>
<title>Formula 1 - Dashboard</title>

<link rel="manifest" href="manifest.json">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="Formula 1 - Dashboard">
<meta name="apple-mobile-web-app-title" content="Formule 1 - Dashboard">
<meta name="theme-color" content=" #d31411">
<meta name="msapplication-navbutton-color" content=" #d31411">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-starturl" content="/">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" type="image/png" sizes="180x180" href="apple-touch-icon">
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="apple-touch-icon">
