<header>
  <section class="title">
    <img src="/img/f1-logo.svg"/>
    <h1>Formula 1</h1>
  </section>
  <nav>
    <ul>
      <li><a href="standings">Standings</a></li>
      <li><a href="drivers">Drivers</a></li>
      <li><a href="races">Race schedule</a></li>
    </ul>
  </nav>
</header>
<div class="overlay" hidden></div>
<ul class="sort"></ul>
<ol class="list"></ol>
