<head>
  <% include head.ejs %>
</head>

<form>
  <div class="flex">
    <legend>Vraag 1</legend>
    <p class="question">In welke plaats zou je graag willen wonen?</p>
    <input name="stad" type="text" placeholder="Typ hier" autofocus>
  </div>
  <input type="submit">
</form>
