

/* ==========================================================================
   Reset
   ========================================================================== */
html {
 font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

input, label {
  font-size: 1em;
  border: none;
}

fieldset {
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #53241B;
}

img {
  width: 100%;
}

/* ==========================================================================
   Layout and Color
   ========================================================================== */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow-y: hidden;
  background-image: linear-gradient(to top, rgb(230, 242, 247) 0%, rgb(230, 242, 247) 60%, rgb(255, 255, 255) 90%);
  animation: fadeIn 4s;
  padding: 1em;
}

body {
  background-image: linear-gradient(to top, rgb(230, 242, 247) 0%, rgb(230, 242, 247) 60%, rgb(255, 255, 255) 90%);
  color: #53241B;
}

legend {
	background-color: #f7a100;
	width: max-content;
	padding: .5em 1em;
  color: white;
}

nav {
	background-color: #f7a100;;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100vw;
  padding: 0em 1em;
}

section.results {
  padding: 0em 1em;
  animation: fadeIn 800ms;
}

.logo {
	width: 5em;
}

/* ==========================================================================
   Cards
   ========================================================================== */
article {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 1em;
  margin: 2em 0em;
}

.intro {
  margin: 4em auto 0em;
}

.intro > p {
  padding: 0em 1em;
}


/* ==========================================================================
   Form
   ========================================================================== */

input[type="text"] {
	background: none;
	border-bottom: .1em solid #f7a100;
	padding: 1em 0em;
  width: 100%;
}

input[type="text"]:focus {
	outline: none;
	border-bottom: .2em solid #f7a100;
}

input[type="submit"] {
  background-color: #f7a100;
  padding: .5em;;
  border-radius: .25em;
  color: #FFF;
  margin: 1em 0em;
  max-width: 40vw;
}

/* ==========================================================================
  Animation
  ========================================================================== */
@keyframes fadeIn {
   from { opacity: 0; }
   to   { opacity: 1; }
}
